<html>
<body>
    <img src=<%= cats.img %>>
    <h2>Here are all the users:</h2>
        <h4>Food: <br><%= cats.food %></h3>
        <h4>Age: <br><%= cats.age %></h4>
        <h4>Sleep: <br><%= cats.sleep[0] %><br><%= cats.sleep[1] %></h4>
        <hr>
</body>
</html>