<h1>Information about animal "<%=animals.name%>"</h1>
<p>-Their favorite color is "<%=animals.favorite_color%>"</p>
<p>-Their ID number is "<%=animals._id%>"</p>
<p>-Created at "<%=animals.createdAt%>"</p>
<p>-Updated at "<%=animals.updatedAt%>"</p>
<a href="/animals/edit/<%=animals._id%>">Edit this animal?</a>
<br>
<a href="/">Go home</a>